html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, code, em, img, ins, q, s, samp, small, strike, strong, 
sub, sup, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, canvas, footer, header, menu, 
nav, output, section, audio, video{margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; outline: none;}

img{-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:''; content:none;}
table{border-collapse:collapse; border-spacing:0;}
b{font-weight:bold;}
strong{font-weight:bold;}
i{font-style:italic;}
button:focus,input:focus,textarea:focus,select:focus{outline:none;}
textarea{resize:none;}
strong{font-weight: bold;}
a img{border:0;}
a{color:#000; text-decoration:underline;}
a:hover{text-decoration:none}
a.local{border-bottom:1px dashed;text-decoration:none;}
a.local:hover{border:0;}

button.download, button.update{padding:12px 35px 8px 35px; border:0; box-shadow:1px 1px 10px 0 #111; cursor:pointer;}


::-moz-selection{background:#eee; color:#222; text-shadow:none;}
::selection{background:#eee; color:#222; text-shadow:none;}
::-moz-focus-inner{border:0;}

html,body{width:100%; height:100%; }
body{
	background:url(../images/background.png) #111; 
	font: 11px/1.3 'Segoe UI', 'PT Sans', 'Tahoma', Helvetica, Arial, sans-serif; 
	color:#bbb; 
	overflow-x:hidden; 
	-webkit-font-smoothing: antialiased; 
	text-shadow:1px 1px #000;
}

.cf:before, .cf:after{content:"";display:table;}
.clear, .cf:after{clear:both;}
.cf{zoom:1;}

.page{               
	overflow:hidden;
	position:relative;
	padding-bottom:1px;
	
	background:#f4f4f4 url(../images/background.png);
	overflow-x:hidden;
	max-width:1450px;
	min-width:1150px;
	max-height:100%;
	height:100%;
	min-height:650px; 
	margin-top:-51px;
	margin-bottom:-100px;
}

header{
	position:relative;
	z-index:3;
	width:auto;
	height:50px;
	background:transparent url(../images/header-background.png) repeat 0 0;
	box-shadow: 0px 2px 4px #111;
}

	header .login-panel{
		float:right;
		height:28px;
		margin:10px 10px;
		background:url(../images/vk.png) right bottom no-repeat;
		cursor:default;
	}
		.login-panel .login-name{
			padding-right:35px; 
			line-height:30px;
			font-size:1.3em;
			display:none;
		}
		.login-panel a{
			color:#21d58c;
			text-decoration:none;
		}


.main{
	display:none;
	height:100%;
	background:transparent url(../images/triangles.png) right center no-repeat;
	position:relative;
}
	.main .logo{
		position:absolute;
		top:50%;
		right:800px;
		margin-top:-42px;
		width:380px;
		background:transparent url(../images/logo-background.png) -1px 0;
	}
		.main .logo img{float:right; height:84px; width:466px; padding-left:115px; margin-right:-115px;}
		.main .logo h2{position:absolute; bottom:0; width:466px; left:52px; font-size:1.4em; color:#777;}


	.about{
		position:absolute;
		top:45%;
 		right:0px;
		margin-right:100px;
		margin-top:-200px;
		width:auto;
		height:420px;
		text-shadow:1px 1px 1px #222; 
	}

		.about h1{
			font-size:3em; 
			color:#21d58c;
		}

		.about h2{
			width:100%;
			text-align:center;
			margin-top:20px;
			font-size:2.1em; 
			color:#efefef;
		} 

		.about-wrapper{
			margin-left:270px;
			margin-top:35px;
			width:auto;
			text-align:center;
		}

			.about-wrapper ul{
				list-style-position:inside;
				text-align:left;
			}

			.about-wrapper ul li{
				height:35px;
				margin:10px 0;
				padding-left:45px;				
				line-height:35px;
                background: transparent url('../images/sprite.png') left -71px no-repeat;
				font-size:1.5em;
				color:#efefef;
				text-shadow:1px 1px #333;
			}

			.about-wrapper ul li:nth-child(2n+1){
				color:#10bbff;    
			}

			.about button.download{
				margin:20px auto 0 auto;
                border-bottom:solid 8px #912602;
				background-color:rgb(242,63,3);
				background-image: linear-gradient(bottom, rgb(180,46,1) 0%, rgb(242,63,3) 81%);
 				background-image: -o-linear-gradient(bottom, rgb(180,46,1) 0%, rgb(242,63,3) 81%); 
  				background-image: -moz-linear-gradient(bottom, rgb(180,46,1) 0%, rgb(242,63,3) 81%);  
   				background-image: -webkit-linear-gradient(bottom, rgb(180,46,1) 0%, rgb(242,63,3) 81%);   
   				background-image: -ms-linear-gradient(bottom, rgb(180,46,1) 0%, rgb(242,63,3) 81%);    
			}
			.about button.download:hover{
				background-image: linear-gradient(bottom, rgb(242,63,3) 0%, rgb(180,46,1) 81%);
				background-image: -o-linear-gradient(bottom, rgb(242,63,3) 0%, rgb(180,46,1) 81%);
				background-image: -moz-linear-gradient(bottom, rgb(242,63,3) 0%, rgb(180,46,1) 81%);
				background-image: -webkit-linear-gradient(bottom, rgb(242,63,3) 0%, rgb(180,46,1) 81%);
				background-image: -ms-linear-gradient(bottom, rgb(242,63,3) 0%, rgb(180,46,1) 81%);
				background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(242,63,3)),color-stop(0.81, rgb(180,46,1)));
			}
			
				.about button.download div{background:url(../images/sprite.png) 0 0; height:19px; width:110px;}
 

	.sounds{display:none;}

	.sounds{
		position:absolute;
		top:40%;
		margin-top:-200px;
		right:20px;
		width:auto;
		height:520px;
		
		z-index:4;
	}
		.sounds-playlist{
			width:300px;
			float:right;
			margin-left:10px;
		}

		.sounds-title{
			width:100%;
			margin:10px 0;
			text-align:center;
			font-size:1.5em;
			color:#e53c05;
			text-shadow:1px 1px #1f1f1f;
		}

		.sounds-wrapper{
			margin:10px 0;
			padding:1px 3px 0 4px;
			min-height:47px;
			background:#222 url(../images/sounds-background.png) repeat 0 0;
			box-shadow: 1px 1px 3px 1px #111;
		}
			.sounds-wrapper .sounds-pleer{
				float:left; 
				height:45px;
			}
				.pleer-title{
					font-size:1.4em;
					line-height:45px;
					margin-left:50px;
				}
				.sounds-pleer button.play{
					float:left;
					margin-top:2px;
					height:42px; 
					width:41px; 
					border:0; 
					background:transparent url(../images/sprite.png) 0 -111px no-repeat; 
					cursor:pointer;
				}
				.sounds-pleer button.play:hover{opacity:0.85}
				
			.sounds-wrapper .ibutton-container{float:right;}

			.sounds button.update{
				margin-top:10px;
				float:right;
				border-bottom:solid 8px #158458;
				background-color:rgb(37,227,151);
				background-image: linear-gradient(bottom, rgb(28,170,113) 0%, rgb(37,227,151) 81%);
 				background-image: -o-linear-gradient(bottom, rgb(28,170,113) 0%, rgb(37,227,151) 81%); 
 				background-image: -moz-linear-gradient(bottom, rgb(28,170,113) 0%, rgb(37,227,151) 81%); 
 				background-image: -webkit-linear-gradient(bottom, rgb(28,170,113) 0%, rgb(37,227,151) 81%); 
 				background-image: -ms-linear-gradient(bottom, rgb(28,170,113) 0%, rgb(37,227,151) 81%); 
			}
			.sounds button.update:hover{
				background-image: linear-gradient(bottom, rgb(37,227,151) 0%, rgb(28,170,113) 81%);
				background-image: -o-linear-gradient(bottom, rgb(37,227,151) 0%, rgb(28,170,113) 81%);
				background-image: -moz-linear-gradient(bottom, rgb(37,227,151) 0%, rgb(28,170,113) 81%);
				background-image: -webkit-linear-gradient(bottom, rgb(37,227,151) 0%, rgb(28,170,113) 81%);
				background-image: -ms-linear-gradient(bottom, rgb(37,227,151) 0%, rgb(28,170,113) 81%);
				background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(37,227,151)), color-stop(0.81, rgb(28,170,113))); 
			}
			
				.sounds button.update div{background:url(../images/sprite.png) 0 -19px; height:19px; width:110px;}

   	                                  
footer{
	position:relative;
	z-index:3;
	width:auto;
	height:100px;
	background:#222 url(../images/header-background.png) repeat 0 0; /* transparent*/	
}
	footer .footer-border{height:2px;}
		.footer-border div{float:left; border-top:solid 2px transparent;}
		.footer-border .blue{border-color:#169bd3; width:25%;}
		.footer-border .green{border-color:#21d58c; width:12%;}
		.footer-border .gray{border-color:#b5b5b5; width:8%;}
		.footer-border .red{border-color:#e53c05; width:55%;}

	footer .footer-links{
		position:absolute;
		left:40px;
		top:30px;
	}
	
	footer .footer-copy{
		position:absolute;
		width:100%;
		bottom:0;
		left:0;
		background:#111;

		cursor:default;
	}

		footer .footer-copy p{
			margin:5px 10px;
			text-align:right;
			color:#999;
			
			font-size:1em;
		}
		
			footer .footer-copy p span{
				cursor:help;
				color:#eee;
			}     

			footer .footer-copy p span:hover{
				color:#169bd3;
			}      


	footer .footer-feedback{
		position:absolute;
		top:-45px;
		right:10px;		
		width:auto;
		height:50px;
		padding-left:40px;

		background:transparent url('../images/sprite.png') 0 -162px no-repeat;
		z-index:5;
	}                             	
		.footer-feedback p{padding-top:10px; font-size:1.2em; color:#999;}
			.footer-feedback p a{color:#999;}


.browser-lock{display:none;}

.message{
	position:absolute;
	top:10px;
	left:20px;

	text-align:left;
	z-index:10;
	font-size:1.3em;
}
	.message p{
		padding:5px;
		padding-left:25px;
		background:url(../images/sprite.png) 0 -42px no-repeat;
	}
	.message a{color:#21d58c;}

#preloader{
	position:absolute;
	top:45%;
	left:50%;
	margin-top:-50px;
	margin-left:-50px;
	height:100px;
	width:100px;
	background:#111;
	z-index:5;
	border-radius:10px;
	box-shadow:2px 2px 3px #111;
}
	#preloader img{margin:32px;}
 
					
		
.ibutton-container{position:relative; height: 47px; cursor: pointer; overflow: hidden;-khtml-user-select: none;-o-user-select: none;-webkit-user-select:none;-moz-user-select: none;-moz-user-focus: ignore; -moz-user-input: disabled;width: 95px;}
	.ibutton-container input{position: absolute;top: 0;left: 0;filter:alpha(opacity=0);-moz-opacity: 0.0; opacity: 0.0;-moz-user-input: enabled  !important;}
	.ibutton-container label{cursor: inherit;padding: 1px 4px;font-size: 1em !important;}
.ibutton-handle{display: block;height: 44px;cursor: inherit;position: absolute;top: 2px;left: 0px;width: 0;background: transparent url(../images/handler.png) no-repeat scroll 0 0;z-index: 3;padding-left: 0px;
width: 45px;}

	div.ibutton-label-on, div.ibutton-label-off{white-space: nowrap; font-size: 17px; line-height: 48px; font-weight: bold; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; text-transform: uppercase; cursor: inherit; display: block; height: 45px; position: absolute; width: auto; top: 0; overflow: hidden; background: transparent url(../images/switcher.png) no-repeat scroll 0 6px;}
	div.ibutton-label-on{color: #333;  text-shadow: 0 -1px 1px #666; left: 0; z-index: 2; padding-right:15px;}
		div.ibutton-label-on span{padding-left: 16px; width: 90px; }
	div.ibutton-label-off{color: #888; background-position: 100% 6px; text-shadow: 0 -1px 1px #000; text-align: right; right: 0;width: 90px;}
		div.ibutton-label-off span{padding-right: 13px; }

.ibutton-focus label{border: 1px dotted #666 !important;padding: 0 2px;}
.ibutton-focus div.ibutton-label-on span label{border-color: #fff !important;}

.ibutton-padding-left, .ibutton-padding-right{
	width:15px; 
	height:35px;
	position:absolute;
	top:5px;
	z-index:2; 
	background-color: #1c1c1c;
	background-image: url(../images/switcher.png), url(../images/sounds-background.png); 
	background-repeat:no-repeat,repeat;
}

.ibutton-padding-left{left:0; background-position: 1px 1px, 1px 2px;padding-left:2px;}
.ibutton-padding-right{right:0; background-position: -110px 1px, 1px 2px;padding-right:2px;}
.ibutton-active-handle .ibutton-handle{background: transparent url(../images/handler.png) repeat-y scroll 0 100%;}
.ibutton-active-handle .ibutton-handle-right{background-position: 100% 0;}
.ibutton-disabled{cursor: not-allowed !important;}
	.ibutton-disabled .ibutton-handle{background-position: 0 0px;}
	.ibutton-disabled .ibutton-handle-right{background-position: 100% 6px;}
	.ibutton-disabled div.ibutton-label-on{background-position: 0 6px;}
	.ibutton-disabled div.ibutton-label-off{background-position: 100% 6px;}
	.ibutton-disabled .ibutton-padding-left{background-position: 1px 6px;}
	.ibutton-disabled .ibutton-padding-right{background-position: -110px 6px;}
	.ibutton-disabled div.ibutton-label-on{color: #fff;}
	.ibutton-disabled div.ibutton-label-off{color: #cbcbcb;}

input:checked ~ .ibutton-handle{background: transparent url(../images/handler.png) repeat-y scroll 0 100%;}

.browser-lock{
	z-index:10;

	position:absolute;
	top:45%;
	left:50%;
	height:auto;
	width:420px;
	margin-top:-150px;
	margin-left:-210px;

	background:#111;
	border:solid 1px #0a0a0a;
	
	border-radius:2px;
 	box-shadow:2px 2px 3px #111; 
}

.browser-lock.not-ie .browser-ie, .browser-lock .browser-ext{display:none;}
.browser-lock.not-ie .browser-ext{display:block;}


.browser-lock p{margin:20px; text-align:left; color:#aaa; border-left:solid 1px #999; padding-left:20px;}
	.browser-lock p.browser-ask{border:0; text-align:right;}
		.browser-lock p a{color:#aaa;}



.browser-lock h2{
	margin:20px;
	text-align:center;
	font-size:1.3em;
	color:#ccc;
	font-weight:normal;
}
           
.browser-list{width:400px; margin:0 auto;}

	.browser-list div{
		float:left;
		background:url(../images/browser-sprite.jpg) no-repeat; 
		width:90px; 
		margin-left:30px;
		text-align:center; 
		vertical-align:bottom; 
		padding-top:100px;
	}

	.browser-list a{color:#aaa; text-decoration:none; font-size:1.2em;}
	.browser-list div.chrome{background-position:0 0;}
 	.browser-list div.firefox{background-position:-100px 0;} 
 	.browser-list div.opera{background-position:-195px 0;} 
