.single{
	position:relative;
	padding-bottom:1px;
	
	background: rgba(0, 0, 0, 0.5);
	overflow-x:hidden;
	width:800px;
	min-height:100%; 
	margin:-51px auto -100px auto;
	padding:70px 10px;
	box-shadow:0 0 2px 1px #111;
	border:solid 1px #111;
	color:#ccc;
}

	.single .label{float:left;}
	.single .single-text{
		padding:10px 50px 100px 50px; 
		clear:both; 
		font-size:1.3em;
		line-height:1.4;
	}

	.single h1{
		width:100%;
		text-align:center;
		margin-top:10px;
		font-size:2.1em; 
		color:#10bbff;
	}
		.single h2 a, .single h1 a{font-size:12px; margin:10px; color:#666; text-decoration:none;}
			.single h2 a:hover, .single h1 a:hover{color:#aaa;}
	
	.single h2{
		width:100%;
		margin:10px 0;
		text-align:center;
		font-size:1.2em;
		color:#e53c05;
	}

	.single p{
		padding:10px 0;
	}
		.single p strong{font-weight:normal; color:#e53c05;}

		.single ul{padding-left:25px;}
		.single p a, .single li a{color:#21d58c;}
		.single p img{margin:0 auto;}

		.single p code{
			background:#ccc; 
			border:solid 1px #aaa; 
			border-radius:2px; 
			color:#111; 
			text-shadow:none; 
			padding:0px 3px;
			font-family:monospace;
		}

		.single p.author{font-style:italic; text-align:right; border-top:solid 1px #777; margin-top:20px;}
